name: Read YAML

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Read file and prepare outputs
        run: |
          while IFS= read -r line; do
            key=$(echo $line | cut -d':' -f1 | xargs);
            value=$(echo $line | cutd -d':' -f2 | xargs);
            echo "::set-output name=${key}::${value}"
          done < config-test.yml

  validate:
    runs-on: ubuntu-latest 
    needs: build
    steps:
      - name: Check outputs
        run: |
          echo ${{ needs.build.outputs.test }}
          echo ${{ needs.build.outputs.version }}
