name: Read YAML

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Read file and prepare outputs
        id: reads
        run: |
          while IFS= read -r line; do
            key=$(echo $line | cut -d':' -f1 | xargs);
            value=$(echo $line | cut -d':' -f2 | xargs);
            echo "${key}=${value}" >> $GITHUB_OUTPUT;
            echo "${key}=${value}" >> $GITHUB_ENV;
            echo "${key}=${value}";
          done < config_test.yml;
          echo $GITHUB_OUTPUT;
      - name: Validate
        run: |
          echo ${{ env.version }}
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Check
        run: echo ${{ env.test }}
