name: Read YAML

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  read_yaml:
    runs-on: ubuntu-latest
    outputs:
      data: ${{ steps.yaml-data.outputs.data }}
    steps:
      - uses: actions/checkout@v3
      - uses: SohraubP/test-yaml-read@v2
        id: yaml-data
        with:
          filepath: ${{ github.workspace }}/pipeline-global.yaml
      - run: echo ${{ steps.yaml-data.outputs.data }} | jq '.proxy.excludes | map(select(. == ".dev.interac.ca"))'
  validate:
    needs: read_yaml
    runs-on: ubuntu-latest
    steps:
      - name: Check
        run: echo ${{ needs.read_yaml.outputs.data }} 
          


